.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 10px;
}

.item {
	text-align: center;
}

.item-title {
	font-size: 0.8em;
	font-style: oblique;
}

.item-info {
	color: #00637f;
	font-size: 0.8em;
	font-weight: bold;
}