.nav {
	/*display: flex;*/
	/*justify-content: center;*/
	/*align-items: center;*/

	height: 100px;
	padding: 0 10px;
}

.nav-list {
	display: flex;
	justify-content: space-between;

	/*width: 60%;*/
	/*font-size: 1.2em;*/
	padding-right: 100px;
	text-transform: uppercase;
}

.nav-item {
	padding-left: 20px;
	list-style: none;
}

.nav-link {
	text-decoration: none;
}

.nav-active-link {
	color: brown;
}

.nav-link:hover {
	text-decoration: underline;
}