/* CSS Custom Properties Definitions */

:root {
  --fontFamily: "Raleway", sans-serif;
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --fontSize-button-primary: 14px;
  --fontSize-h1: 40px;
  --fontSize-h2: 32px;
  --fontSize-h3: 16px;
  --fontSize-h4: 15px;
  --spacing-0: 0;
  --spacing-8: 2rem;
  --lineHeight-none: 1;
  --lineHeight-low: 1.25;
  --lineHeight-button-primary: 1.43;
  --lineHeight-text-middle: 1.47;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  --color-text: #03141a;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-family: var(--fontFamily);
  font-size: var(--fontSize-root);
  font-weight: var(--fontWeight-normal);
  color: var(--color-text);
  line-height: var(--lineHeight-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.ReactModal__Body--open {
  overflow: hidden;
}

/* Heading */

h1,
h2 {
  font-weight: var(--fontWeight-extrabold);
}

h1 {
  font-size: var(--fontSize-h1);
  line-height: var(--lineHeight-none);
}

h2 {
  font-size: var(--fontSize-h2);
  line-height: var(--lineHeight-low);
}

h3,
h4 {
  font-weight: var(--fontWeight-bold);
  line-height: var(--lineHeight-normal);
}

h3 {
  font-size: var(--fontSize-h3);
}

h4 {
  font-size: var(--fontSize-h4);
}

h1 > a,
h2 > a,
h3 > a,
h4 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

/* Link */

a {
  word-break: break-word;
}

a:hover,
a:focus {
  text-decoration: none;
}

/* test styles */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-out;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  transform: translateY(50px);
  transition: transform 500ms ease-out;
}

.ReactModal__Content--after-open {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.ReactModal__Content--before-close {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
}

.indicators {
  position: relative;
  margin: 0;
  top: -57px;
  left: 0;
}
